<div class="row">
  <div class="col-md-12">
    <div class="appointments">


      <!-- Appointment List -->
      <div *ngFor="let rdv of rendezvous" class="appointment-list">
        <div class="profile-info-widget">
          <a href="patient-profile" class="booking-doc-img">
            <img src="assets/img/patients/patient11.jpg" alt="patirnt Image" />
          </a>
          <div class="profile-det-info">
            <h3><a href="patient-profile">{{ rdv.patient.firstname }} {{ rdv.patient.lastname }}</a></h3>
            <div class="patient-details">
              <h5><i class="far fa-clock"></i>{{ rdv.datetime|date:'d MMM y, H.mm' }}PM</h5>
              <h5>
                <!-- <i class="fas fa-map-marker-alt"></i> Colorado, United States -->
              </h5>
              <h5><i class="fas fa-envelope"></i> {{ rdv.patient.email }}</h5>
              <h5 class="mb-0"><i class="fas fa-phone"></i> {{ rdv.patient.tele }}</h5>
            </div>
          </div>
        </div>
        <div class="appointment-action">
          <a
            class="btn btn-sm bg-info-light"
            (click)="open(rdv.datetime,rdv.status)"
          >
            <i class="far fa-eye"></i> View
          </a>
          <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
            <i class="fas fa-check"></i> Accept
          </a>
          <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
            <i class="fas fa-times"></i> Cancel
          </a>
        </div>
      </div>
      <!-- /Appointment List -->
    </div>
  </div>
</div>





