<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a href="#" class="booking-doc-img">
        <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" />
      </a>
      <div class="profile-det-info">
        <h3>Dr.{{ docteur.docteur_nom }} {{ docteur.prenom }}</h3>

        <div class="patient-details">
          <h5 class="mb-0">
            <span *ngFor="let specialite of docteur.specialites">
              {{ specialite.nom }}
            </span>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li>
          <a
            [routerLink]="['/docteur', docteur.docteur_id, 'dashboard']"
            [routerLinkActive]="['active-links']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              '/docteur',
              docteur.docteur_id,
              'dashboard',
              'appointments'
            ]"
            [routerLinkActive]="['active-links']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-calendar-check"></i>
            <span>Appointments</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              '/docteur',
              docteur.docteur_id,
              'dashboard',
              'patients'
            ]"
            [routerLinkActive]="['active-links']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-user-injured"></i>
            <span>My Patients</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              '/docteur',
              docteur.docteur_id,
              'dashboard',
              'timings'
            ]"
            [routerLinkActive]="['active-links']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-hourglass-start"></i>
            <span>Schedule Timings</span>
          </a>
        </li>
        <li>
          <a href="invoices">
            <i class="fas fa-file-invoice"></i>
            <span>Invoices</span>
          </a>
        </li>
        <li>
          <a href="reviews">
            <i class="fas fa-star"></i>
            <span>Reviews</span>
          </a>
        </li>
        <li>
          <a href="chat-doctor">
            <i class="fas fa-comments"></i>
            <span>Message</span>
            <small class="unread-msg">23</small>
          </a>
        </li>
        <li>
          <a href="doctor-profile-settings">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
          </a>
        </li>
        <li>
          <a href="social-media">
            <i class="fas fa-share-alt"></i>
            <span>Social Media</span>
          </a>
        </li>
        <li>
          <a href="doctor-change-password">
            <i class="fas fa-lock"></i>
            <span>Change Password</span>
          </a>
        </li>
        <li>
          <a href="index">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
