<!-- Home Banner -->


<!-- Search -->

<app-home-search> </app-home-search>

<!-- /Search -->

<!-- /Home Banner -->


<!-- Clinic and Specialities -->
<app-home-clinic-specialities></app-home-clinic-specialities>
<!--/ Clinic and Specialities -->

<!-- /Popular Section -->
<app-home-book-doctor></app-home-book-doctor>
<!-- /Popular Section -->

<!-- Availabe Features -->
<app-home-available-features></app-home-available-features>
<!-- /Availabe Features -->

<!-- Book our doctor-->

<app-home-book-doctor></app-home-book-doctor>
<!-- / Book our docto -->
