<div class="row row-grid">
  <div *ngFor="let rdv of rendezvous" class="col-md-6 col-lg-4 col-xl-3">
    <div class="card widget-profile pat-widget-profile">
      <div class="card-body">
        <div class="pro-widget-content">
          <div class="profile-info-widget">
            <a href="patient-profile" class="booking-doc-img">
              <img src="assets/img/patients/patient.jpg" alt="User Image">
            </a>
            <div class="profile-det-info">
              <h3><a href="patient-profile">{{rdv.patient.firstname}} {{rdv.patient.lastname}}</a></h3>

              <div class="patient-details">
                <!-- <h5><b>Patient ID :</b> P0016</h5> -->
                 <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{rdv.patient.ville}} {{rdv.patient.pays}} </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="patient-info">
          <ul>
            <li>Phone <span>{{rdv.patient.tele}}</span></li>
            <li>Age <span>38 Years, Male</span></li>
            <li>Blood Group <span>{{rdv.patient.groupe_sanguin}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
