		<!-- Home Banner -->
    <section class="section section-search">
      <div class="container-fluid">
        <div class="banner-wrapper">
          <div class="banner-header text-center">
            <h1>Rechercher un Médecin, Prendre Rendez-Vous </h1>
            <p>Découvrez les meilleurs médecins, cliniques et hôpitaux de la ville la plus proche de chez vous.</p>
          </div>

          <!-- Search -->
          <div class="search-box">
            <form action="search">
              <div class="form-group search-location">
                <input type="text" class="form-control" placeholder="Rechercher par ville">
                <span class="form-text">Selon votre emplacement</span>
              </div>
              <div class="form-group search-info">
                <input type="text" class="form-control" placeholder="Rechercher des médecins, des cliniques, des hôpitaux, etc.">
                <span class="form-text">Ex : Contrôle dentaire ou sucre, etc.</span>
              </div>
              <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Chercher</span></button>
            </form>
          </div>
          <!-- /Search -->

        </div>
      </div>
    </section>
    <!-- /Home Banner -->
