<div class="row">
  <div class="col-md-12">
    <div class="card dash-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar1">
                <circle-progress
                  [percent]="rendezvous.length"
                  imageSrc="assets/img/icon-01.png"
                  [imageHeight]="39"
                  [imageWidth]="39"
                  outerStrokeColor="#da3f81"
                ></circle-progress>
              </div>
              <div class="dash-widget-info">
                <h6>Total Patient</h6>
                <h3>{{ rendezvous.length }}</h3>
                <p class="text-muted">Till Today</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar2">
                <circle-progress
                  [percent]="rendezvousToday.length"
                  imageSrc="assets/img/icon-02.png"
                  [imageHeight]="39"
                  [imageWidth]="39"
                  outerStrokeColor="#68DDA9"
                ></circle-progress>
              </div>
              <div class="dash-widget-info">
                <h6>Today Patient</h6>
                <h3>{{ rendezvousToday.length }}</h3>
                <p class="text-muted">
                  {{ today | date: "dd, MMM y" }}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="dash-widget">
              <div class="circle-bar circle-bar3">
                <circle-progress
                  [percent]="rendezvous.length"
                  imageSrc="assets/img/icon-03.png"
                  [imageHeight]="39"
                  [imageWidth]="39"
                  outerStrokeColor="#1B5A90"
                ></circle-progress>
              </div>
              <div class="dash-widget-info">
                <h6>Appoinments</h6>
                <h3>{{ rendezvous.length }}</h3>
                <p class="text-muted">
                  {{ today | date: "dd, MMM y" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="mb-4">Patient Appoinment</h4>
    <div class="appointment-tab">
      <!-- Appointment Tab -->
      <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="#upcoming-appointments"
            data-toggle="tab"
            >Upcoming</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#today-appointments"
            data-toggle="tab"
            >Today</a
          >
        </li>
      </ul>
      <!-- /Appointment Tab -->

      <div class="tab-content">
        <!-- Upcoming Appointment Tab -->
        <div class="tab-pane show active" id="upcoming-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <th>Patient Name</th>
                      <th>Appt Date</th>
                      <th>Type</th>
                      <th class="text-center">Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rdv of rendezvous">
                      <td>
                        <h2 class="table-avatar">
                          <a
                            href="patient-profile"
                            class="avatar avatar-sm mr-2"
                            ><img
                              class="avatar-img rounded-circle"
                              src="assets/img/patients/patient.jpg"
                              alt="User Image"
                          /></a>
                          <a href="patient-profile"
                            >{{ rdv.patient.firstname }}
                            {{ rdv.patient.lastname }} <span></span
                          ></a>
                        </h2>
                      </td>
                      <td>
                        {{ rdv.datetime | date: "d MMM y" }}
                        <span class="d-block text-info"
                          >{{ rdv.datetime | date: "H.mm" }} AM</span
                        >
                      </td>
                      <td>{{ rdv.patient.type }}</td>
                      <td class="text-center">{{ rdv.status }}</td>
                      <td class="text-right">
                        <div class="table-action">
                          <a
                            class="btn btn-sm bg-info-light"
                            (click)="open(rdv.datetime,rdv.status)"
                          >
                            <i class="far fa-eye"></i> View
                          </a>

                          <a
                            href="javascript:void(0);"
                            class="btn btn-sm bg-success-light"
                          >
                            <i class="fas fa-check"></i> Accept
                          </a>
                          <a
                            href="javascript:void(0);"
                            class="btn btn-sm bg-danger-light"
                          >
                            <i class="fas fa-times"></i> Cancel
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Upcoming Appointment Tab -->

        <!-- Today Appointment Tab -->
        <div class="tab-pane" id="today-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <th>Patient Name</th>
                      <th>Appt Date</th>
                      <th>Type</th>
                      <th class="text-center">Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rdv of rendezvousToday">
                      <td>
                        <h2 class="table-avatar">
                          <a
                            href="patient-profile"
                            class="avatar avatar-sm mr-2"
                            ><img
                              class="avatar-img rounded-circle"
                              src="assets/img/patients/patient6.jpg"
                              alt="User Image"
                          /></a>
                          <a href="patient-profile"
                            >{{ rdv.patient.firstname }}
                            {{ rdv.patient.lastname }} <span></span
                          ></a>
                        </h2>
                      </td>
                      <td>
                        {{ rdv.datetime | date: "d MMM y" }}
                        <span class="d-block text-info"
                          >{{ rdv.datetime | date: "H.mm" }} AM</span
                        >
                      </td>
                      <td>{{ rdv.patient.type }}</td>
                      <td class="text-center">{{ rdv.status }}</td>
                      <td class="text-right">
                        <div class="table-action">
                          <a
                            class="btn btn-sm bg-info-light"
                            (click)="open(rdv.datetime,rdv.status)"
                          >
                            <i class="far fa-eye"></i> View
                          </a>

                          <a
                            href="javascript:void(0);"
                            class="btn btn-sm bg-success-light"
                          >
                            <i class="fas fa-check"></i> Accept
                          </a>
                          <a
                            href="javascript:void(0);"
                            class="btn btn-sm bg-danger-light"
                          >
                            <i class="fas fa-times"></i> Cancel
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Today Appointment Tab -->
      </div>
    </div>
  </div>
</div>
