<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Dashboard
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Dashboard</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Profile Sidebar -->

        <app-sidebar-dashboard-doctor></app-sidebar-dashboard-doctor>

        <!-- /Profile Sidebar -->
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- /Page Content -->
<!-- </div> -->
